<div class="user-details">
  <h1> Projetos Realizados </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/proj1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Primeiro Projeto </h3>
    <ul>
      <li> Sobre o projeto</li>
    </ul>
    <p>Primeiro projeto informativo realizado com HTML, CSS e Javascript.</p>
    <a class="project-link" href="./Proj1/index.html">Visitar site</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/proj2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Segundo Projeto </h3>
    <ul>
      <li> Sobre o projeto</li>
    </ul>
    <p>Segundo projeto, galeria de fotos realizado com HTML, CSS e Javascript.</p>
    <a class="project-link" href="./Proj2/index.html">Visitar site</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/proj3.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Jogo da vida </h3>
    <ul>
      <li> Sobre o projeto</li>
    </ul>
    <p>Proposta de projeto onde será desenvolvido um sistema para cadastrar e visualizar tarefas, realizado com HTML, CSS e Javascript.</p>
    <a class="project-link" href="./JogoVida/index.html">Visitar site</a>
  </div>
</div>
